{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
Order
{% endblock %}
{% block title %}
Order Placed
{% endblock %}
{% block content %}
<div class="row" style="margin-bottom:170px;">
    <div class="container">
        <div class="col-md-12 text-center">
            <h1 class="text-center" style="letter-spacing :.02em;font-size:20px;margin-top:100px;"><b>Order Placed Successfully</b></h1>
            <h1 class="text-center" style="letter-spacing :.02em;font-size:20px;"><b>Thankyou</b></h1>
            <a href="/" class="btn btn-primary" style="margin-top:50px;" >Continue shopping</a>
        </div>
    </div>
</div>

{% endblock %}